.card-container {
  padding: 0 0.75rem 0;
  margin: 0.75rem 0;
  container-type: inline-size;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

button.card-footer-action-buttons {
  line-height: 29px;
  height: 100%;
  font-size: 13px;
  font-weight: 400;
}

.thumbail {
  overflow: hidden;
}

.thumbail img {
  inline-size: 100%;
  aspect-ratio: 1;
  display: block;
  object-fit: cover;
  transition: scale 0.5s ease-in-out;
}

.content {
  flex: 1;
  padding: 1.25rem;
}

@container (inline-size > 300px) {
  .card-grid {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
