:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --smtalent-challenge-lib-variant-contained-bg: #ffd814;
  --smtalent-challenge-lib-variant-contained-color: #0f1111;
  --smtalent-challenge-lib-variant-contained-border: #ffd814;
  --smtalent-challenge-lib-variant-outlined-bg: #fff;
  --smtalent-challenge-lib-variant-outlined-color: #ffd814;
  --smtalent-challenge-lib-variant-outlined-border: #ffd814;
}
